# packages in environment at C:\Users\Aswan\.conda\envs\py36:
#
# Name                    Version                   Build  Channel
absl-py                   0.9.0                    pypi_0    pypi
amqp                      2.5.2                    pypi_0    pypi
asgiref                   3.4.1                    pypi_0    pypi
astor                     0.8.1                    pypi_0    pypi
billiard                  3.6.3.0                  pypi_0    pypi
cached-property           1.5.2                    pypi_0    pypi
cachetools                4.0.0                    pypi_0    pypi
certifi                   2019.11.28               pypi_0    pypi
chardet                   3.0.4                    pypi_0    pypi
click                     7.1.1                    pypi_0    pypi
colorama                  0.4.5                    pypi_0    pypi
cycler                    0.10.0                   pypi_0    pypi
cython                    0.29.33                  pypi_0    pypi
dataclasses               0.8                      pypi_0    pypi
django                    3.0                      pypi_0    pypi
flask                     1.1.1                    pypi_0    pypi
flask-cors                3.0.8                    pypi_0    pypi
gast                      0.2.2                    pypi_0    pypi
google-auth               1.11.3                   pypi_0    pypi
google-auth-oauthlib      0.4.1                    pypi_0    pypi
google-pasta              0.2.0                    pypi_0    pypi
grpcio                    1.27.2                   pypi_0    pypi
gunicorn                  20.0.4                   pypi_0    pypi
h5py                      2.10.0                   pypi_0    pypi
idna                      2.9                      pypi_0    pypi
importlib-metadata        1.5.0                    pypi_0    pypi
itsdangerous              1.1.0                    pypi_0    pypi
jinja2                    2.11.1                   pypi_0    pypi
joblib                    1.1.1                    pypi_0    pypi
keras                     2.2.5                    pypi_0    pypi
keras-applications        1.0.8                    pypi_0    pypi
keras-preprocessing       1.1.0                    pypi_0    pypi
kiwisolver                1.1.0                    pypi_0    pypi
kombu                     4.6.8                    pypi_0    pypi
markdown                  3.2.1                    pypi_0    pypi
markupsafe                1.1.1                    pypi_0    pypi
matplotlib                3.2.1                    pypi_0    pypi
nltk                      3.4.5                    pypi_0    pypi
numpy                     1.18.2                   pypi_0    pypi
oauthlib                  3.1.0                    pypi_0    pypi
opencv-python             4.1.1.26                 pypi_0    pypi
opt-einsum                3.2.0                    pypi_0    pypi
pandas                    0.25.2                   pypi_0    pypi
pillow                    8.4.0                    pypi_0    pypi
pip                       21.3.1                   pypi_0    pypi
protobuf                  3.11.3                   pypi_0    pypi
pyasn1                    0.4.8                    pypi_0    pypi
pyasn1-modules            0.2.8                    pypi_0    pypi
pycocotools-windows       2.0.0.2                  pypi_0    pypi
pyparsing                 2.4.6                    pypi_0    pypi
python                    3.6.15          h39d44d4_0_cpython    conda-forge
python-dateutil           2.8.1                    pypi_0    pypi
python_abi                3.6                     2_cp36m    conda-forge
pytz                      2019.3                   pypi_0    pypi
pyyaml                    5.3.1                    pypi_0    pypi
requests                  2.23.0                   pypi_0    pypi
requests-oauthlib         1.3.0                    pypi_0    pypi
rsa                       4.0                      pypi_0    pypi
scikit-learn              0.22                     pypi_0    pypi
scipy                     1.4.1                    pypi_0    pypi
setuptools                49.6.0           py36ha15d459_3    conda-forge
six                       1.14.0                   pypi_0    pypi
sqlparse                  0.4.3                    pypi_0    pypi
tensorboard               1.14.0                   pypi_0    pypi
tensorflow                1.14.0                   pypi_0    pypi
tensorflow-estimator      1.14.0                   pypi_0    pypi
termcolor                 1.1.0                    pypi_0    pypi
torch                     1.2.0+cpu                pypi_0    pypi
torchvision               0.4.0+cpu                pypi_0    pypi
tqdm                      4.38.0                   pypi_0    pypi
typing-extensions         4.1.1                    pypi_0    pypi
ucrt                      10.0.22621.0         h57928b3_0    conda-forge
urllib3                   1.25.8                   pypi_0    pypi
vc                        14.3                hb6edc58_10    conda-forge
vine                      1.3.0                    pypi_0    pypi
vs2015_runtime            14.34.31931         h4c5c07a_10    conda-forge
werkzeug                  1.0.0                    pypi_0    pypi
wheel                     0.34.2                   py36_0    conda-forge
wincertstore              0.2             pyhd8ed1ab_1009    conda-forge
wrapt                     1.12.1                   pypi_0    pypi
zipp                      3.1.0                    pypi_0    pypi